<div class="jumbotron">
  <h1 class="display-4">Site created successfully.</h1>
  <p class="lead">An email was sent to you. Please check your inbox (or spam folder) and follow the instructions.</p>
  <hr class="my-4">
  <p>This email contains a link to setup your Orchard Core site and the credentials to access the admin.</p>
  @*<p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Setup your site</a>
  </p>*@
</div>